<div id="<%= dom_id event %>">
  <p>
  <strong>Event name:</strong>
  <%= event.event_name %>
  </p>
  
  <p>
  <strong>Contact name:</strong>
  <%= event.contact_name %>
  </p>

  <p>
  <strong>Contact email:</strong>
  <%= event.contact_email %>
  </p>

  <p>
    <strong>Virtual:</strong>
    <%= event.virtual %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= event.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= event.longitude %>
  </p>

  <p>
    <strong>Rejected:</strong>
    <%= event.rejected %>
  </p>

  <p>
    <strong>Delisted:</strong>
    <%= event.delisted %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= event.approved %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= event.logo_url %>
  </p>

  <p>
    <strong>Banner url:</strong>
    <%= event.banner_url %>
  </p>

  <p>
    <strong>Wants postcards:</strong>
    <%= event.wants_postcards %>
  </p>

  <p>
    <strong>Mailing address:</strong>
    <%= event.mailing_address %>
  </p>

  <p>
    <strong>Subscriber email sent:</strong>
    <%= event.subscriber_email_sent %>
  </p>

</div>
