<div id="<%= dom_id subscriber %>">
  <p>
    <strong>Email:</strong>
    <%= subscriber.email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= subscriber.location %>
  </p>

  <p>
    <strong>Unsubscribed?</strong>
    <%= subscriber.unsubscribed_at.present? %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= subscriber.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= subscriber.longitude %>
  </p>
</div>
